<article>
  <div class="container-address">
    <div class="contact-info">
      <h2>General Contacts</h2>
      <p>+1 9 29 560 38 38  (USA)</p>
      <p>Email:PRODUCTS@STUDIO.COM</p>
    </div>
    <div class="address">
      <h2>Our Address</h2>
      <p>123 Street Name</p>
      <p>City, State ZIP</p>
      <p>Country</p>
    </div>
  </div>
  <div class="globe-container">
    <img src="assets/images/56.png" alt="Globe" id="globe-image">
  </div>
  <section>
       <h1 class="title">LET'S TALK?</h1>
    <form class="contact-form row">
      <div class="form-field col x-50">
        <input id="name" class="input-text " type="text" required>
        <label class="label" for="name">Name</label>
      </div>
      <div class="form-field col x-50">
        <input id="email" class="input-text" type="email" required>
        <label class="label" for="email">E-mail</label>
      </div>
      <div class="form-field col x-100">
        <input id="message" class="input-text" type="text" required>
        <label class="label" for="message">Message</label>
      </div>
      <div class="form-field col x-100 align-center">
        <input class="submit-btn" type="submit" value="CONTACT US">
      </div>
    </form>
  </section>
</article>
